<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>
</head>

<body>
    <h1>Welcome to Dating APP</h1>
    <form method="POST" action="/profiles/<%= profile._id %>?_method=PUT">
        <ul>
            <li style="list-style: none;"><h1><%= profile.username %></h1></li>
        </ul>
        <input name="profile[ids]" value="<%=profile.ids%>" placeholder="crush id URL/link" type="text"><br><br>

        <button type="submit">Update Crush</button>
    </form>
</body>

</html>