<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>
</head>

<body>
    <h1>The Connection of Heart is Successfull</h1>

    <% if (mutualMatchingProfile) { %>
        <h3>You are matched with: <%= mutualMatchingProfile.name %></h3>
    <% } else { %>
        <p>No mutual matching profiles found</p>
    <% } %>
</body>

</html>