<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <h1>Welcome to Dating APP</h1>
    <form method="POST" action="/profiles">
        <input name="profile[name]" placeholder="enter the name" type="text"><br><br>
        <input name="profile[username]" placeholder="enter the username" type="text"><br><br>
        <input name="profile[password]" placeholder="enter the password" type="password"><br><br>
        <input name="profile[ids]" placeholder="crush id URL/link" type="text"><br><br>

        <button type="submit">Add Member</button>
    </form>
</body>

</html>